<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Tests.RunningSoftware" />
			<class name="Tests.TestLoginSite" />
			<class name="Tests.ShoppingOrderForm" />
			<class name="Tests.CustomShirtConfigurator" />
			<class name="Tests.TestUserAndPassword" />
			<class name="Tests.BaseTest" />
			<class name="Tests.AccountUpgrade" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
